@import '../variables';

.oneNews {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__description {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 500;
    color: #2c3136;
  }

  &__info {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 1023px) {
    &__description {
      font-size: 18px;
    }

    &__image {
      width: 500px;
    }
  }
  @media (max-width: 767px) {
    &__card-description {
      font-size: 14px;
    }

    &__image {
      width: 350px;
    }
  }

  @media (max-width: 424px) {
    &__description {
      font-size: 13px;
    }

    &__image {
      width: 250px;
    }
  }
}