@import '../variables';

.isActive {
  background: black !important;
  color: white;
}

.item {
  margin-top: 30px;
}

.single-product {
  margin-top: 50px;

  &__error{
    color: $red;
    margin-bottom: 10px;
  }
  &__slide {
    max-width: 450px;
    width: 100%;
    height: auto;
  }

  &__main {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
  }

  &__info {
    margin-left: 70px;
  }

  &__price {
    font-size: 40px;
    color: $grey;
    margin-top: 57px;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__text {
    font-size: 20px;
  }

  &__size {
    background: transparent;
    padding: 10px 15px;
    border: 1px solid black;
    margin-right: 14px;
    font-size: 17px;
    transition: 0.3s;

    &:hover {
      background: black;
      color: white;
    }
  }

  &__amount-input {
    border: 1px solid #AFAFAF;
    margin-right: 10px;
    font-weight: 400;
    font-size: 20px;
    padding: 10px 5px 10px 12px;
  }

  @media (max-width: 780px) {
    &__main {
      margin-top: 50px;
    }

    &__slide {
      max-width: 350px;
    }

    &__price {
      font-size: 32px;
      margin-top: 40px;
    }
  }

  @media (max-width: 685px) {
    &__slide {
      max-width: 350px;
      width: 100%;
      height: auto;
    }

    &__main {
      align-items: center;
      flex-direction: column;
    }

    &__info{
      margin-left: 0;
    }

  }
}