@import "../variables";

.success-order {
  &__received {
    margin-top: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-info {
      display: flex;
      align-items: center;
    }
  }

  &__message {
    margin-left: 40px;

    &-title {
      font-size: 25px;
      line-height: 0;
      font-weight: 500;
      margin-top: 10px;
    }

    &-sub-title {
      font-size: 17px;
      font-weight: 500;
      margin-top: 15px;
      margin-bottom: 10px;
    }
  }

  &__button {
    padding: 20px 50px;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: $blue;
    border: 1px solid $blue;
    background: none;
    transition: all 0.3s;

    &:hover {
      background: $blue;
      color: #fff;
      cursor: pointer;
    }
  }

  @media (max-width: 1023px) {
    &__received {
      margin-top: 130px;
    }
  }

  @media (max-width: 767px) {
      &__received {
      margin-top: 20px;
      flex-direction: column;
      align-items: center;

      &-info {
        display: flex;
        flex-direction: column;
      }
    }

    &__message {
      margin-left: 0;

      &-title {
        font-size: 17px;
        line-height: 0;
        font-weight: 500;
        text-align: center;
        margin-top: 30px;
      }

      &-sub-title {
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 30px;
      }
    }

    &__button {
      padding: 10px 30px;
      font-size: 16px;
    }
  }
}
