.title {
  color: #000000;
  font-size: 40px;
  line-height: 40px;

  @media (max-width: 780px) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (max-width: 600px) {
    font-size: 24px;
    line-height: 24px;
  }
}