$blue: #6E9C9F;
$grey: #998E78;
$gray: #909090;
$dark-blue: #509498;
$red: rgb(161 59 24);
$light: #f1eadc;
$admin-blue: #174180;

$warning: rgb(161 59 24);
$warning-hover: rgb(110, 36, 7);

$success: #147e2e;
$success-hover: #0d6221;
