@import './components/all.scss';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  min-height: 100vh;
  position: relative;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.background-wrapper {
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 57%, rgb(241, 234, 220) 57%, rgb(241, 234, 220) 100%);
  @media (max-width: 800px) {
    background: white;
  }
}

.main {
  padding-bottom: 250px;

  @media (max-width: 767px) {
    padding-bottom: 400px;
  }
}