@media print{
    html,body{
        height: auto;
    }
    body *{
        font-size: 14px;
    }
    .print{
        font-family: "Times New Roman", Times, serif;
        padding: 5mm;
        height: auto;
        overflow: visible!important;
    }
    .print *{
        visibility: visible;
    }
}